
<div class="px-5">
  <div class="mt-5 flex justify-between items-center w-full gap-3 border-b pb-5">
    <div>
      <h2 class="text-3xl font-bold tracking-tight">Products ({{products.length}})</h2>
      <p class="text-sm text-neutral-500 font-light">
        Discover our products.
      </p>
    </div>
    <button (click)="openModal()" style="background-color:  rgb(16 6 97);" class="h-9 rounded-md px-3  text-white flex items-center gap-3 font-medium">
      <i class="fa-solid fa-plus"></i>
      Add New
    </button>
  </div>

  <div class="box mt-5 cartBox">
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th  style="background-color:  rgb(16 6 97);"></th>
          <th class="text-white" style="background-color:  rgb(16 6 97);">Name</th>
          <th class="text-white" style="background-color:  rgb(16 6 97);">Category</th>
          <th class="text-white" style="background-color:  rgb(16 6 97);">Price</th>
          <th  style="background-color:  rgb(16 6 97);">  </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products; let i = index">
          <td><img [src]="item.imageUrl" alt=""></td>
          <td>{{item.name}}</td>
          <td>{{item.category}}</td>
          <td>{{item.price}} L.E</td>
          <td>
            <button  style="background-color:  rgb(16 6 97);"  class="btn btn-warning" (click)="openModal(i)">Update</button>
          </td>
        </tr>
      </tbody> 
    </table>
  </div>

  
  <div *ngIf="showModal" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title">{{editingProductIndex !== null ? 'Update Product' : 'Add Product'}}</h5> -->
        <div type="button" class="close butt" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <label for="title">Title</label>
              <input type="text" formControlName="title" class="form-control" placeholder="Title" />
            </div>
            <div class="col-md-4 col-sm-12">
              <label for="price">Price</label>
              <input type="number" formControlName="price" class="form-control" placeholder="Price" />
            </div>
            <div class="col-md-4 col-sm-12">
              <label for="category">Category</label>
              <input type="text" formControlName="category" class="form-control" placeholder="Category" />
            </div>
            <div class="col-md-4 col-sm-12">
              <label for="image">Image</label>
              <img [src]="base64" alt="" *ngIf="base64" />
              <input type="file" class="form-control" (change)="getImagePath($event)" />
            </div>
            <div class="col-md-8 col-sm-12">
              <label for="description">Description</label>
              <textarea formControlName="description" class="form-control" placeholder="Type here..."></textarea>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <button  class="btn btn-success" [disabled]="!form.valid" (click)="addProduct()">
              {{editingProductIndex !== null ? 'Update Product' : 'Add Product'}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

