.table-container {
    overflow-x: auto;
    max-width: 100%;
  }
  
  
  .mat-mdc-header-cell{
    background-color: black;
    
  }
  
  
  .overscroll-x {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
    max-width: 100%; 
    white-space: nowrap; 
  }
    
.cartBox {

  border-radius: 5px;
  padding: 0 20px;
  margin: 50px 0;
}

.cartBox .table .quantity {
  display: flex;
  justify-content: space-between;
}

.cartBox .table .quantity input {
  margin: 0 20px;
}

.cartBox .table tbody {
  border-top: 1px solid #c61d21;
  border-bottom: 1px solid #c61d21;
}

.cartBox .table tbody tr td {
  border-bottom: 0;
  text-align: center;
  vertical-align: middle;
}

.cartBox .table tbody tr td img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.cartBox .table tbody input {
  text-align: center;
}

.cartBox .headCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartBox .headCart span {
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cartBox .headCart span:hover {
  background-color: #e67779;
  color: #FFF !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 120px;
  min-height: 120px;
}

.modal img {
  width: 100%;
  max-height: 85px;
}

/* Styles for small devices (e.g., screens with a maximum width of 768px) */
@media (max-width: 768px) {
  .scrollable-div {
    overflow-x: auto;
    overflow: touch; /* Enable smooth scrolling on iOS devices */
    white-space: nowrap; /* Prevent line breaks within the div */
  }

  .scrollable-table {
    width: 100%; /* Ensure the table takes the full width of the div */
  }
}
.trtt,table{
  background-color: #f4f3ef;
}

.btn-warning {
 background:  rgb(16 6 97) ;
  color: #fff;
  border: 1px solid #f4f3ef;
}
.btn-warning:hover {
  background: #f4f3ef;
  color: rgb(16 6 97);
  border: 1px solid #f4f3ef;
}