

.header-top {
    background-color:  rgb(16 6 97);
    color: white;
  }
  
  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 500;
    background-color: var(--white);
  }
  /* background-color:  rgb(16 6 97); */

  .navbar-brand img{
    width: 100px;
    height: 50px;
  }
  .navbar-brand {
    /* background-color: var(--blue); */
      font-size: 25px;
      font-weight: bold;
      transform: scaleX(1.4);
      padding-left: 10px;
  

     padding: 30px 60px 30px 40px;  
  }
  
  .nav-item .nav-link {
    font-size: 18px;
    color: var(--blue);
    font-weight: 600;
  }
  
  .nav-item .nav-link:hover {
    color: var(--orange);
  }
  
  .nav-orange {
    color: var(--orange) !important;
  }
  
  /* Items in dropdown list */
  .nested-navItem {
    background-color: var(--orange);
    color: var(--white);
  }
  
  .right-items {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: relative;
  }
  
  .right-items span {
    position: absolute;
    background-color: rgb(16 6 97);
    color: var(--white);
    top: -10px;
    left: -5px;
    border-radius: 50%;
    font-size: 14px;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Offcanvas Styles */
  .offcanvas {
    background-color: #fff;
  }
  
  .close-offcanvas {
    /* background-color: var(--main-color); */
    color: black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
  }
  
  .offcanvas .custom-content ul li i {
    color: var(--main-color);
  }
  
  .offcanvas .custom-content ul li a {
    color: #444;
    font-weight: 600;
    padding-left: 5px;
  }
  
  .offcanvas .custom-content .icons {
    max-width: 300px !important;
  }
  
  .offcanvas .custom-content .icons i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .offcanvas .custom-content .icons i:hover {
    background-color: var(--orange);
    cursor: pointer;
    color: var(--white);
  }
  
  .navbar-nav .dropdown-menu .dropdown-item {
    padding: 10px 20px !important;
    min-width: 200px !important;
    font-weight: 500;
    border-bottom: 1px solid #eee;
  }
  
  .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: var(--orange);
    color: var(--white);
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .hoverLink:hover {
    color: var(--main-color);
  }
  .offcanvas-title img {
    width: 100px;
    height: 50px;
    
  }

  .offcanvas-title {
    color: var(--blue);
    font-size: 25px;
    font-weight: bold;
    transform: scaleX(1.3);  
  }