<main class="container-fluid py-5">
    @if (wishlist.length !== 0 && wishlist){
    <!-- Table Container -->
    <section class="table-container">
      <table class="table mb-4">
        <thead>
          <tr>
            <th colspan="3">Book</th>
            <th>Price</th>
            <th>Category</th>
            <th>Date Added</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          @for (product of wishlist; track product.id) {
          <tr>
            <td class="remove-btn" title="Remove Book From Cart">
              <i
                class="fa-regular fa-circle-xmark fs-4"
                (click)="removproduct($index)"
              ></i>
            </td>
            <!-- Image -->
            <td>
              <img
                [src]="product.imageUrl"
                [alt]="product.title"
                height="70px"
                width="55px"
              />
            </td>
            <td class="fw-bold fs-5">{{ product.title }}</td>
            <td class="price">
              {{ product.price | currency : "EGP" : "symbol-narrow" }}
            </td>
            <td>{{ product.category }}</td>
            <td>{{ product.date.split('T')[0] }}</td>
            
            <td>
              <button
                class="btn btn-main fs-6"
                (click)="navigateToBookDetails(product.id)"
              >
                View
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </section>
    }@else {
    <!-- Empty Cart -->
    <section class="text-center py-3 empty-cart">
    
      <h1 class="fw-bold mt-4" style="color: #142797; font-size: 50px">
        Looks like your wishlist is empty!
      </h1>
      <p class="fs-3 opacity-75 my-4">Time to start your shopping</p>
      <a
        href="#"
        routerLink="/shop"
        (click)="scrollToTop()"
        class="btn btn-main mx-auto rounded-5 px-5 py-3"
        >Return to shop</a
      >
    </section>
    }
  </main>
