.container a{
    cursor: pointer;
}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    transform: scaleX(1.3);
    padding-left: 10px;

}

.navbar-brand img{
    width: 100px;
    height: 50px;
   
}