<app-page-title [title]="'shop'"></app-page-title>
<main class="container-fluid">
    <section class="my-5">
      <div class="tab-content p-0" id="myTabContent">
       <div class="row">
              <!-- Shop Default -->
              <div class=" col-12 col-md-4  col-lg-3">
              <!-- <app-shop-default></app-shop-default> -->
              <app-category (categorySelected)="onCategorySelected($event)"></app-category>
            </div>
            <!-- Shop List -->
            <div class="col-12 col-md-8  col-lg-9">
               <app-product-list  [category]="selectedCategory"></app-product-list>
            </div>
       </div>
      </div>
    </section>
  </main>

  