<section class="about">
    <section class="w-75 mx-auto rounded shadow my-5 p-5 bg-white">
    <h3 class="text-center mb-5 borders-bottom">About Us</h3>
    <p>Welcome to <span>“snapbuy”</span>, your trusted online destination for 
        all products you want. <br>
        Our mission is to bring you an exceptional shopping experience, 
        offering a curated selection of top-notch products that cater to your needs and lifestyle. <br>
        <br>
        We believe in more than just selling products; we’re committed to creating value 
        for our customers. We carefully select every item in our store, ensuring they meet the 
        highest standards of quality, functionality, and style. 
        Whether you're searching for, we've got you covered.</p>
    <h4 class="my-3">Why Shop With Us??</h4>
    <p> <span>Quality Guarantee:</span> We source our products from reputable suppliers and brands, ensuring you receive only the best. <br>
        <span>Customer-Centric Approach:</span> Your satisfaction is our priority. We offer excellent customer service and hassle-free 
        returns to make your shopping experience smooth and enjoyable. <br>
        <span>Secure Shopping:</span> Shop with confidence knowing that your personal information and transactions are protected with advanced security measures.</p>
    </section>
</section>

<app-footer></app-footer>
