<article class="get-discount overflow-hidden text-center rounded-4">
  <!-- content -->
  <article class="content z-2 position-relative">
    <h2 class="fs-1 fw-bold">Get 25% discount in all kind of super Selling</h2>
    <a
      
      routerLink="/shop"
      class="btn btn-main rounded-5 px-5 py-3 mt-4"
      >Shop Now <i class="fa-solid fa-arrow-right-long ms-2"></i>
    </a>
  </article>
  <img
    src="../../assets/images/discount-section/girl-shape-2.png"
    alt="Girl Image"
    class="position-absolute d-lg-inline d-none"
  />
  <img
    src="../../assets/images/discount-section/books-discount.png"
    alt="Books"
    class="position-absolute top-50 translate-middle-y d-lg-inline d-none"
  />
</article>
  
  
  
