
<section class=" formt w-50 mx-auto my-5 shadow pag rounded p-4">
    <h3 class="my-4">Login</h3>
    <form [formGroup]="loginForm" (ngSubmit)="handleForm()">
        
        <div class="form-item mt-4">
            <label for="email">Email:</label>
            <input class="form-control" formControlName="email" type="email" id="email" >
            <div class="mt-1 alert alert-danger p-1 small" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
                <p class="mb-0" *ngIf="loginForm.get('email')?.getError('required')">Email is required</p>
                <p class="mb-0" *ngIf="loginForm.get('email')?.getError('email')">Email format is InValid</p>
            </div>
        </div>
        
        <div class="form-item mt-4">
            <div class="d-flex justify-content-between">
            <label for="password">Password:</label>
            <!-- <label role="button" routerLink="/forgetpass">Forgot?</label> -->
            </div>
            <input class="form-control" formControlName="password" type="password" id="password" >
            <div class="mt-1 alert alert-danger p-1 small" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
                <p class="mb-0" *ngIf="loginForm.get('password')?.getError('required')">Password is required</p>
                <p class="mb-0" *ngIf="loginForm.get('password')?.getError('pattern')">Password must be at least 6 chars</p>
            </div>
        </div>
        
        <button [disabled]="loginForm.invalid" class="form-control main-btn my-4">
           Sign In <span *ngIf="isLoading"> <i class="fas fa-spin fa-spinner"></i> </span>
        </button>
        
    </form>
    <p routerLink="/register" role="button">Create Account</p>
    <p *ngIf="errMsg" class="alert alert-danger text-center mb-0 p-1">{{errMsg}}</p>
</section>
